body {
    font-family: 'Roboto', sans-serif;
}

/*alert*/

.alert-container{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    color: #444d54;
    background-color: #ffc107;
    border-color: #ffc107;
}

/*callout*/

.callout-container {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1583873463426-776e17c904cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHdoaXNreXxlbnwwfHwwfHw%3D&w=1000&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*content*/

.container-wrapper {

}

.container-wrapper-red {
    background-color: #af3818;
    color: #fff;
}

.content-wrapper {
    margin-top: 25px;
}

.table-wrapper {
    margin-top: 50px;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.content-wrapper {
    margin-top: 25px;
}

.quotes-container {

}

/*features*/

.features-container {

}
.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}

.feature .btn {
    background-color: #fff;
    border-color: #fff;
    color: #af3818;
    border-radius: 23px;
    font-weight: bold;
    margin-top: 10px;
}

.feature p {
    margin-top: 16px;
}

.favorites-container {

}

/*navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;   
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*buttons*/

.signup-btn {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    background-color: #af3818;
    color: #fff;
}

.signup-btn:hover,
.signup-btn:active,
.signup-btn:focus,
.signup-btn:active:focus {
    background-color: #fff;
    color: #af3818;
}


/*block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}
    
 .block-divider-orange {   
    background-color: #af3818;
}

.block-divider-white {
    background-color: #fff;
}

.block-divider-short{
    width: 35px;
    margin-bottom: 30px;
}

/*jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: lightgray;
}

.jumbotron .lead {
    .lead
        margin: 25px 0;
        color: #A7A7A7;
}

/*pageheaders*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}



